<div class="conteiner">
  <section class="about-block-section section">
    <div class="about-block-conteiner">
      <h2 class="about-block-titel">
        <span class="about-block-adventures">Yacht Adventures</span> fleet is
        here to take you on the ultimate adventure. Each yacht is hand-picked
        for its comfort, style, and performance.
      </h2>
      <ul class="about-block-list list">
        <li class="about-block-item">
          <p class="about-block-text">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.
          </p>
        </li>
        <li class="about-block-item">
          <p class="about-block-text">
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable. Book now and get ready
            for an unforgettable adventure on the high seas.
          </p>
        </li>
      </ul>
      <div class="about-block-wrapper">
        <img
          class="about-block-img"
          srcset="
            ../img/about-block/img-1@1x.png 1x,
            ../img/about-block/img-1@2x.png 2x
          "
          alt="yacht deck interior"
          width="335"
          height="524"
        />
        <img
          class="about-block-img"
          srcset="
            ../img/about-block/img-2@1x.png 1x,
            ../img/about-block/img-2@2x.png 2x
          "
          alt="yacht deck interior"
          width="335"
          height="289"
        />
      </div>
      <img
        class="about-block-img"
        srcset="
          ../img/about-block/img-3@1x.png 1x,
          ../img/about-block/img-3@2x.png 2x
        "
        alt="view of the yacht from above"
        width="260"
        height="244"
      />
    </div>
  </section>
</div>
