<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-cont">
            <ul class="list logo-flex">
                <li>
                    <svg class="logoicon" width="18" height="18">
                        <use href="../img/icons.svg#logoicon"></use>
                    </svg>
                </li>
                <li>
                    <a class="footer-logo link" href="../index.html">Yacht Adventures</a>
                </li>
            </ul>
            <nav class="nav">
                <ul class="list nav-list">
                    <li class="nav-list-item">
                        <a class="link nav-list-link" href="../index.html">About</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="link nav-list-link" href="">Yacht</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="link nav-list-link" href="">Reviews</a>
                    </li>
                </ul>
            </nav>
            <div class="sn-container">
                <p class="social-par">We in social</p>
                <ul class="list social-list">
                    <li class="social-item">

                        <a class="link social-link" href="http://www.facebook.com" aria-label="socialnetwork"
                            target="_blank">
                            <svg class="social-icon" width="8" height="15">
                                <use href="../img/icons.svg#icon-fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a class="link social-link" href="http://www.youtube.com" aria-label="socialnetwork"
                            target="_blank">
                            <svg class="social-icon" width="15" height="15">
                                <use href="../img/icons.svg#icon-yb"></use>
                            </svg>

                        </a>
                    </li>
                    <li class="social-item">
                        <a class="link social-link" href="http://www.instagram.com" aria-label="socialnetwork"
                            target="_blank">
                            <svg class="social-icon" width="17" height="17">
                                <use href="../img/icons.svg#icon-insta"></use>
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                2023. Yacht Adventures

            </p>
            <a class="link privacy-link" href="">
                Privacy Police
            </a>
        </div>
        <div class="elipse-1"></div>
        <div class="elipse-2"></div>

    </div>
</footer>