<!-- =========================
             rentdlock block
        ========================== -->
<section class="rentblock" id="rent">
  <div class="container rentblock-container">
    <div class="rentblock-rent">
      <h2 class="rentblock-title">Rent a yacht now</h2>
      <img
        class="rentblock-img"
        srcset="./img/rentblock/yaht.png 1x, ./img/rentblock/yacht@2x.png 2x"
        src="./img/rentblock/yaht.png"
        alt="yacht"
        width="259"
        height="187"
      />
    </div>
    <form class="rentblock-form" autocomplete="off">
      <label class="rentblock-label"
        >Full Name
        <input
          class="rentblock-input"
          type="text"
          name="fullname"
          pattern="[A-z]{1,15}"
        />
      </label>

      <label class="rentblock-label"
        >Email
        <input
          class="rentblock-input"
          type="email"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
      </label>
      <label class="rentblock-label"
        >Phone number
        <input
          class="rentblock-input"
          type="tel"
          name="phone"
          pattern="\+?[0-9\s\-\(\)]+"
        />
      </label>
      <label class="rentblock-label"
        >Comment
        <textarea class="rentblock-input" name="comment"></textarea>
      </label>

      <button class="rentblock-button" type="submit" data-modal-open>
        Send
        <svg class="rentblock-icon" width="18" height="8.7">
          <use href="./img/rentblock/icons.svg#icon-Arrow"></use>
          <use href="./img/icons.svg#icon-Arrow"></use>
        </svg>
      </button>
    </form>
  </div>
  <div class="ellips"></div>
</section>

<!--  ============================
                Modal window
        ===============================       -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal-block">
    <button class="modal-btn" type="button" data-modal-close>
      <svg class="modal-icon" width="20" height="20">
        <use href="./img/rentblock/icons.svg#icon-btn"></use>
      </svg>
    </button>
    <div class="modal-img">
      <img
        class="modal-block-img"
        srcset="
          ./img/rentblock/mod-yaht.png        1x,
          ./img/rentblock/mod-yaht.png@2x.png 2x
        "
        src="./img/rentblock/mod-yaht.png"
        alt="mod-yacht"
        width="287"
        height="149"
      />
    </div>
    <div class="modal-content">
      <h3 class="modal-title">Thank you</h3>
      <p class="modal-text">
        Thank you for choosing Yacht Adventures, your booking details have been
        received and our team will be in touch shortly to confirm your
        reservation and provide any additional information or assistance you may
        need.
      </p>
    </div>
    <div class="modal-ellips"></div>
  </div>
</div>
