<section>
    <div class="reviews-conteiner container">
        <div class="reviews-box-text">
            <h3 class="reviews-h3"> <span class="reviews-h3-accent"> Yacht Adventures</span> take pride in providing the
                best
                possible service and experience to our customers </h3>
            <p class="reviews-content"> Our customers have enjoyed unforgettable moments on our yachts. Don't just take
                our word
                for it - read on to find out what they have to say about their journey with us.</p>
        </div>


        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper reviews-slides">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="reviews-cards">
                        <img class="reviews-img" 
                        srcset="../img/reviews-block/johnwax@1x.jpg 1x, ../img/reviews-block/johnwax@2.jpg 2x" 
                        src="../img/reviews-block/johnwax@1x.jpg" 
                        
                        alt="John Wax" 
                        width="48px" height="48px">

                        <h4 class="reviews-subtitle">John Wax</h4>
                        <p class="reviews-text">I rented the Lagoon 620 with my family for a week-long vacation and it
                            was
                            the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew
                            took
                            care of everything. </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews-cards">
                        <img 
                        class="reviews-img"
                        srcset="../img/reviews-block/victoria@1x.jpg 1x, ../img/reviews-block/victoria@2x.jpg 2x" 
                        src="../img/reviews-block/victoria@1x.jpg" 
                        alt="Victoria Romashenko" 
                        width="48px" height="48px">
                       
                        <h4 class="reviews-subtitle">Victoria Romashenko</h4>
                        <p class="reviews-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic
                            getaway.
                            The yacht was beautifully designed, with all the amenities we needed, and the crew was
                            attentive
                            and friendly. </p>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews-cards">
                        <img 
                        class="reviews-img"
                        srcset="../img/reviews-block/Ihor@1x.jpg 1x, ../img/reviews-block/Ihor@2x.jpg 2x" 
                        src="../img/reviews-block/Ihor@1x.jpg" 
                        alt="Ihor Trachuk" 
                        width="48px" height="48px">
                        
                        <h4 class="reviews-subtitle"> Ihor Trachuk</h4>
                        <p class="reviews-text">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins
                            were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining.
                            Worth every penny!</p>

                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div>
      </div> -->

        </div>
</section>
