<section id="services">
  <div class="service-block-container container">
    <ul class="service-list">
      <li class="service-item">
        <div class="service-thumb service-thumb-1">
          <img
            class="service-img service-img-1"
            srcset="
              ./img/service-block/diving1x.png  1x,
              ./img/service-block/diving@2x.png 2x
            "
            src="./img/service-block/diving1x.png"
            alt="Diving"
            width="335"
            height="335"
          />
          <div class="gradient service-img-1"></div>
          <p class="service-subtitle">Diving</p>
        </div>
      </li>
      <li class="service-item">
        <div class="service-thumb service-thumb-2">
          <img
            class="service-img service-img-2"
            srcset="
              ./img/service-block/fishing1x.png  1x,
              ./img/service-block/fishing@2x.png 2x
            "
            src="./img/service-block/fishing1x.png"
            alt="Diving"
            width="335"
            height="335"
          />
          <div class="gradient service-img-2"></div>
          <p class="service-subtitle">Fishing</p>
          <div class="services-blur-elipse"></div>
        </div>
      </li>
      <li class="service-item">
        <div class="service-thumb service-thumb-3">
          <img
            class="service-img service-img-3"
            srcset="
              ./img/service-block/sunbathing1x.png  1x,
              ./img/service-block/sunbathing@2x.png 2x
            "
            src="./img/service-block/sunbathing1x.png"
            alt="Diving"
            width="335"
            height="335"
          />
          <div class="gradient service-img-3"></div>
          <p class="service-subtitle">Sunbathing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
