<section id="directory" class="yacht-block">
    <div class="container">
        <div class="yacht-hl-block">
            <h2 class="hd-yacht">Choose your dream yacht and sail away into the sunset</h2>
            <a class="rent-yacht link" href="">Yacht rental</a>
        </div>
        <div class="swiper-block">
            <div class="swiper my-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/arrow@1x.jpg 1x, ./img/yacht-block/arrow@2x.jpg 2x"
                            src="./img/yacht-block/arrow@1x.jpg" alt="Yacht Arrow" width="299">
                        <div class="yacht-info">
                            <h3 class="yacht-name">arrow</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>48m(155ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Admiral</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2021</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>11 in 5 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€33,500,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/benetti-oasis-40m-bo122@1x.jpg 1x, ./img/yacht-block/benetti-oasis-40m-bo122@2x.jpg 2x"
                            src="./img/yacht-block/benetti-oasis-40m-bo122@1x.jpg" alt="yacht benetti oasis 40m bo122">
                        <div class="yacht-info">
                            <h3 class="yacht-name">benetti oasis 40m bo122</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>41m (133ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Benetti</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2025</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>10 in 5 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€23,210,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/belle-anna@1x.jpg 1x, ./img/yacht-block/belle-anna@2x.jpg 2x"
                            src="./img/yacht-block/belle-anna@1x.jpg" alt="yacht belle anna">
                        <div class="yacht-info">
                            <h3 class="yacht-name">belle anna</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>50m(155ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>ISA</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>12 in 6 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€21,000,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/ellen@1x.jpg 1x, ./img/yacht-block/ellen@2x.jpg 2x"
                            src="./img/yacht-block/ellen@1x.jpg" alt="yacht ellen">
                        <div class="yacht-info">
                            <h3 class="yacht-name">ellen</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>40m (132ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Perini Navi</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2001 / 2016 (refitted)</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>9 in 4 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€9,300,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/mirage401@1x.jpg 1x, ./img/yacht-block/mirage401@2x.jpg 2x"
                            src="./img/yacht-block/mirage401@1x.jpg" alt="yacht mirage 401">
                        <div class="yacht-info">
                            <h3 class="yacht-name">mirage 401</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>38m (125ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Gianetti Custom Yachts</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2024</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>10 in 5 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€13,500,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/king@1x.jpg 1x, ./img/yacht-block/king@2x.jpg 2x"
                            src="./img/yacht-block/king@1x.jpg" alt="yacht king">
                        <div class="yacht-info">
                            <h3 class="yacht-name">king</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>33m (109ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Overmarine</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2004 / 2018 (refitted)</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>9 in 4 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€1,850,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/salt@1x.jpg 1x, ./img/yacht-block/salt@2x.jpg 2x"
                            src="./img/yacht-block/salt@1x.jpg" alt="yacht salt">
                        <div class="yacht-info">
                            <h3 class="yacht-name">salt</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>32m (105ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>SanLorenzo</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2019</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>11 in 5 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€7,800,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/storm@1x.jpg 1x, ./img/yacht-block/storm@2x.jpg 2x"
                            src="./img/yacht-block/storm@1x.jpg" alt="yacht storm">
                        <div class="yacht-info">
                            <h3 class="yacht-name">storm</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>32m (103ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Overmarine</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2005 / 2022 (refitted)</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>9 in 4 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>€2,900,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="swiper-slide">
                        <img srcset="./img/yacht-block/collu@1x.jpg 1x, ./img/yacht-block/collu@2x.jpg 2x"
                            src="./img/yacht-block/collu@1x.jpg" alt="yacht collu">
                        <div class="yacht-info">
                            <h3 class="yacht-name">collu</h3>
                            <p>luxury yacht</p>
                        </div>
                        <table class="yacht-propeties">
                            <tr>
                                <td>length</td>
                                <td>29m (96ft)</td>
                            </tr>
                            <tr>
                                <td>builder</td>
                                <td>Ferretti</td>
                            </tr>
                            <tr>
                                <td>build</td>
                                <td>2014</td>
                            </tr>
                            <tr>
                                <td>guests</td>
                                <td>10 in 5 cabins</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>$4,300,000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev swiper-button-pc"><svg class="arrow-icon" width="18" height="8"
                    viewBox="0 0 18 8">
                    <use href="./img/sprite.svg#icon-arrow-left"></use>
                </svg></div>
            <div class="swiper-button-next swiper-button-pc">
                <svg class="arrow-icon" width="18" height="8" viewBox="0 0 18 8">
                    <use href="./img/sprite.svg#icon-arrow-right"></use>
                </svg>
            </div>

        </div>

    </div>
    <div class="yacht-mask">
        <img src="./img/yacht-block/looper-group.png" alt="">
    </div>
    <div class="yacht-circle-one"></div>
    <div class="yacht-circle-two"></div>
</section>