@media only screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .conteiner {
    max-width: 1216px;
    padding-left: 0;
    padding-right: 0;
  }
}

.about-block-titel {
  max-width: 335px;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;

  margin-bottom: 40px;
}

.about-block-adventures {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -1.08px;

  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-block-list {
  display: flex;
  gap: 14px;
}
.about-block-text {
  max-width: 161px;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}

.section {
}
.about-block-conteiner {
}
.conteiner {
}
.about-block-item {
}
