.header-section {
  background-color: var(--dark_blue);
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .header-section {
    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-section {
    padding-bottom: 64px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: DM Sans;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.54px;
  }
}

@media only screen and (min-width: 768px) {
  .header-icon {
    width: 23px;
    height: 23px;
  }
}

.header-list-item {
  font-family: DM Sans;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding: 35px 0;
}

.header-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid rgba(246, 245, 239, 0.2);
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  outline: none;
  padding: 24px 0;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-icon {
  fill: var(--white);
}

.mobile-close-icon {
  stroke: var(--white);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark_blue);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  padding: 0 20px;
  overflow: hidden;
  z-index: 999;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(246, 245, 239, 0.2);
}

.mobile-menu {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: auto;
  padding-top: 140px;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 14px;
}

.mobile-menu-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.28px;
  color: var(--white);
}

/**
  |============================
  | Decorate mobile menu
  |============================
*/

.light-first {
  width: 279px;
  height: 279px;
  transform: rotate(-44.916deg);

  border-radius: 279px;
  opacity: 0.89;
  background: #939cac;
  filter: blur(100px);

  position: absolute;
  top: 83%;
  left: 35%;
}

.light-second {
  width: 279px;
  height: 279px;
  transform: rotate(-44.916deg);

  border-radius: 279px;
  opacity: 0.6;
  background: #91afba;
  filter: blur(100px);

  position: absolute;
  top: 65%;
  left: -35%;
}
