

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.hero-title {
  color: var(--white, #f6f5ef);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  max-width: 332px;
  margin-bottom: 14px;
}

.hero-title-span {
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  color: var(--white, #f6f5ef);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.28px;
  max-width: 332px;
  margin-bottom: 24px;
}

.hero-img-background {
  background-image: url(../img/hero/hero-mask.png);
  background-size: 100% 427px;
  background-repeat: no-repeat;
  height: 427px;
  position: relative;
}

.hero-list-buttons {
  display: flex;
  gap: 11px;
  margin-bottom: 40px;
}

.btn-text {
  color: var(--white, #f6f5ef);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  height: 43px;
}

.hero-btn-started {
  border-radius: 60px;
  border: none;
  background: var(--light-green, #93abae);
  min-width: 130px;
}

.hero-btn-explore {
  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  background: transparent;
  min-width: 104px;
}

/* -------- hero-clients -------------*/

.hero-clients {
  padding: 24px 24px 48px 24px;
}

.hero-list-clients {
  display: flex;
  gap: -5px;
}

.hero-client-left {
  z-index: 3;
  background-image: url(../img/hero/hero-client-1.jpg);
  background-size: 155.791% 103.873%;
  background-position: -13.39px 3.574px;
}

.hero-client-mid {
  z-index: 2;
  left: -7px;
  background-image: url(../img/hero/hero-client-2.jpg);
  background-size: 157.912% 105.357%;
  background-position: -12.393px 0px;
}

.hero-client-right {
  left: -14px;
  background-image: url(../img/hero/hero-client-3.jpg);
  background-size: 186.006% 124.019%;
  background-position: -20.219px 4.067px;

}

.hero-item-client {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 2px solid var(--light-green);
  background-repeat: no-repeat;
  background-color: var(--grey, #e3e3e3);
  position: relative;
  margin-bottom: 11px;
}

.img-client {
  max-width: 60px;
}

.hero-clients-title {
  color: var(--dark_blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.client-yaht {
  width: 133px;
  height: 133px;
  border-radius: 24px;
  background-image: url(../img/hero/hero-client-4.jpg);
  background-repeat: no-repeat;
  background-size: 258.356% 172.321%;
  background-position: -60.185px -38.132px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -12px;
  top: 35px;
}

.hero-yaht-img {

  margin-bottom: 14px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-list-price {
  color: var(--dark_blue);
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}

.hero-list-text {
  color: var(--dark_blue);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.63px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
