
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.hero-title {
  color: var(--white, #f6f5ef);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  max-width: 332px;
  margin-bottom: 14px;
}

.hero-title-span {
  font-style: italic;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  color: var(--white, #f6f5ef);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.28px;
  max-width: 332px;
  margin-bottom: 24px;
}

.hero-img-background {
  height: 427px;
  background-image: url(../img/hero/hero-mask.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 427px;
  position: relative;
}

.hero-list-buttons {
  display: flex;
  gap: 11px;
}

.btn-text {
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;
}

.hero-btn-started:is(:hover,:focus){
  background: var(--blu)
}

.hero-btn-started {
  border-radius: 60px;
  border: none;
  background: var(--light-green, #93abae);
  min-width: 130px;
  height: 43px;
}

.hero-btn-explore:is(:hover,:focus) {
  border-color: var(--light-green);
  color: var(--light-green);
}

.hero-btn-explore {
  display: block;
  text-align: center;
  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  background: transparent;
  min-width: 104px;
  padding: 14px 28px;
}

/* -------- hero-clients -------------*/

.hero-clients {
  padding: 24px 24px 48px 24px;
}

.hero-list-clients {
  display: flex;
  gap: -5px;
}

.hero-client-left {
  z-index: 3;
  background-image: url(../img/hero/hero-client-1.jpg);
  background-size: 155.791% 103.873%;
  background-position: -13.39px 3.574px;
}

.hero-client-mid {
  z-index: 2;
  left: -7px;
  background-image: url(../img/hero/hero-client-2.jpg);
  background-size: 157.912% 105.357%;
  background-position: -12.393px 0px;
}

.hero-client-right {
  left: -14px;
  background-image: url(../img/hero/hero-client-3.jpg);
  background-size: 186.006% 124.019%;
  background-position: -20.219px 4.067px;

}

.hero-item-client {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 2px solid var(--light-green);
  background-repeat: no-repeat;
  background-color: var(--grey, #e3e3e3);
  position: relative;
  margin-bottom: 11px;
}

.img-client {
  max-width: 60px;
}

.hero-clients-title {
  color: var(--dark_blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.client-yaht {
  width: 133px;
  height: 133px;
  border-radius: 24px;
  background-image: url(../img/hero/hero-client-4.jpg);
  background-repeat: no-repeat;
  background-size: 258.356% 172.321%;
  background-position: -60.185px -38.132px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -12px;
  top: 35px;
}

.hero-yaht-img {

  margin-bottom: 14px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-list-price {
  color: var(--dark_blue);
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}

.hero-list-text {
  color: var(--dark_blue);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.63px;
}

.hero-blur-size {
  width: 279px;
  height: 279px;
  transform: rotate(-44.916deg);
  border-radius: 279px;
}

.hero-blur-first {
  opacity: 0.8999999761581421;
  background: #939CAC;
  filter: blur(100px);
  position: absolute;
  z-index: -1;
  bottom: 116px;
  left: -123px;
  }

.hero-blur-second {
  opacity: 0.6000000238418579;
  background: #91AFBA;
  filter: blur(100px);
  position: absolute;
  z-index: -1;
  bottom: 149px;
  left: -283px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-img-background {
    background-image: url(../img/hero/hero-mask@2x.png);
  }

  .client-yaht {
  background-image: url(../img/hero/hero-client-4@2x.jpg);
}

.hero-client-left {
  background-image: url(../img/hero/hero-client-1@2x.jpg);
}

.hero-client-mid {
  background-image: url(../img/hero/hero-client-2@2x.jpg);
}

.hero-client-right {
  background-image: url(../img/hero/hero-client-3@2x.jpg);
}

}

@media screen and (min-width: 768px) {

  .hero-container {
    gap: 64px;
    margin-bottom: 100px;
  }

  .hero-title {
    max-width: 698px;
    margin-bottom: 16px;
    font-size: 60px;
    letter-spacing: -2.7px;
  }

  .hero-text {
    max-width: 539px;
    margin-bottom: 32px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }

  .btn-text {
    font-size: 18px;
    letter-spacing: -0.81px;
  
  }

  .hero-btn-started {
    min-width: 150px;
    height: 48px;
  }

  .hero-btn-explore {
    min-width: 117px;
  }

  .hero-img-background {
    width: 426px;
    height: 598px;
  }

  .hero-item-client {
    width: 56px;
    height: 56px;
  }
  
  .client-yaht {
    width: 233px;
    height: 233px;
    background-position: -105.437px -66.802px;
    right: -146px;
    top: 32px;
  }

  .hero-clients-title {
    margin-bottom: 111px;
  }

  .hero-yaht-img {
    width: 378px;
    margin-bottom: 37px;
  }

  .hero-list-price {
    font-size: 60px;
    letter-spacing: -2.7px;
  }

  .hero-list-text {
    font-size: 18px;
    letter-spacing: -0.81px;
  }

  .hero-blur-size {
    width: 414px;
    height: 414px;
    transform: rotate(-44.094deg);
    border-radius: 414px;
  }

  .hero-blur-first {
    left: -219px;
    bottom: 51px;
  }
  
  .hero-blur-second {
    left: -454px;
     bottom: 115px;
  }
}

@media screen and (min-width: 1280px) {

  .hero-container {
    margin-bottom: 164px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .container-title {
    padding-top: 68px;
  }

  .hero-title {
    max-width: 554px;
  }

  .hero-blur-first {
    left: -48px;
    bottom: -38px;
  }
  
  .hero-blur-second {
    left: -284px;
    bottom: 22px;
  }

  .hero-blur-third {
    width: 316px;
    height: 316px;
    transform: rotate(-45.074deg);
    border-radius: 316px;
    opacity: 0.30000001192092896;
    background: #A6A9B2;
    filter: blur(100px);
    position: absolute;
    z-index: -1;
    right: -82px;
    bottom: 99px;
  }
}
