.rentblock {
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.rentblock-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.rentblock-rent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.rentblock-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  color: #f6f5ef;
  color: #f6f5ef;
}

.rentblock-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rentblock-label {
  display: flex;
  flex-direction: column;
  color: var(--white, #f6f5ef);
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.63px;
}

label input {
  margin-bottom: 24px;
}

label textarea {
  margin-bottom: 24px;
}

.rentblock-input {
  padding: 0;
  border: 0;
  background-color: var(--dark-blue, #11131f);
  border-bottom: 1px solid #f6f5ef;
  background-color: var(--dark-blue, #11131f);
  border-bottom: 1px solid #f6f5ef;
}

.rentblock-input {
  height: 16px;
}

textarea.rentblock-input {
  height: 58px;
  resize: none;
}

.rentblock-button {
  max-width: 123px;
  height: 43px;
  display: block;
  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  border: 1px solid var(--white, #f6f5ef);
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--dark-blue, #11131f);
  color: var(--white, #f6f5ef);
  background-color: var(--dark-blue, #11131f);
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;
}

.rentblock-icon {
  fill: var(--white, #f6f5ef);
}

.ellips {
  fill: var(--white, #f6f5ef);
}

.ellips {
  position: absolute;
  bottom: -25px;
  right: -105px;
  width: 283px;
  height: 283px;
  transform: rotate(-44.916deg);
  flex-shrink: 0;
  border-radius: 283px;
  opacity: 0.6000000238418579;
  background: #91afba;
  filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  background: #91afba;
  filter: blur(100px);
}

@media only screen and (min-width: 768px) {
  .rentblock {
    padding: 0 32px;
  }

  .rentblock-container {
    flex-direction: row;
    padding-bottom: 100px;
  }

  .rentblock {
    padding: 0 32px;
  }

  .rentblock-rent {
    max-width: 271px;
    gap: 32px;
    margin-right: 69px;
    margin-bottom: 0;
  }

  label input {
    margin-bottom: 28px;
  }

  label textarea {
    margin-bottom: 32px;
  }

  .rentblock-title {
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -2.7px;
  }

  .rentblock-label {
    font-size: 16px;
    letter-spacing: -0.72px;
  }

  .rentblock-button {
    font-size: 18px;
    letter-spacing: -0.81px;
  }

  .rentblock-button {
    max-width: 132px;
    height: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .rentblock-container {
    padding-bottom: 164px;
  }
  .container.rentblock-container {
    padding-left: 0;
    padding-right: 0;
    .rentblock-container {
      padding-bottom: 164px;
    }

    .rentblock-rent {
      margin-right: 188px;
    }

    label textarea {
      margin-bottom: 64px;
    }

    .rentblock {
      padding: 0 184px;
    }
  }
}
