.reviews-conteiner {
  overflow: hidden;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .reviews-conteiner {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-conteiner {
    padding-bottom: 164px;
  }
}

/*Content*/

.reviews-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .reviews-h3 {
    max-width: 497px;
    font-size: 32px;
    letter-spacing: -1.44px;
    padding-bottom: 32px;
  }
}

.reviews-h3-accent {
  font-style: italic;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 1,4; /* 19.6px */
  letter-spacing: -0.28px;

  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .reviews-content {
    max-width: 273px;
    display: block;
    margin-left: auto;
    font-size: 16px;
    letter-spacing: -0.32px;

    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-box-text {
    display: flex;
  }
}

/* Reviews Cards */


.reviews-cards {
  border-radius: 24px;
  background: var(--blue_2);
  display: flex;
  max-width: 335px;
  height: auto;
  
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 24px 14px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .reviews-cards {
    max-width: 344px;
    height: 266px;
    padding: 24px 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-cards {
    max-width: 384px;
    height: 282px;
    padding: 32px 32px;
  }
}

.reviews-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.reviews-subtitle {
  text-align: center;
  font-weight: 500;
  line-height: 1.1; /* 17.6px */
  letter-spacing: -0.72px;

  padding-top: 18px;
  padding-bottom: 8px;
}

.reviews-text {
  max-width: 300px;
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4; /* 16.8px */
  letter-spacing: -0.24px;
}

@media only screen and (min-width: 767px) {
   .reviews-text{
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-text{
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}


/*Swiper*/
.swiper-box {
  max-width: 375px;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .swiper-box {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper-box {
    max-width: 1216px;
  }
}


 .swiper-pagination {
  position: relative;
  bottom: auto;
  text-align: center;
  margin-top: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  top: auto;
  left: 0;
  width: 100%;
}


.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--blue_2);

}

 .swiper-pagination-bullet-active {
  background-color: var(--blu);


}

 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
margin: 0 10px;
background-color: var(--blu);}

.swiper-scrollbar{
 visibility: hidden;
}


