.service-block-container {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .service-block-container {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .service-block-container {
    padding-bottom: 164px;
  }
}
.service-item:not(:last-child) {
  margin-bottom: 24px;
}
.service-thumb {
  position: relative;
}

.service-img {
  display: inline-block;
  max-width: 100%;
  width: 335px;
  height: 335px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
}
.gradient {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background: linear-gradient(
    0deg,
    rgba(17, 19, 31, 0.2) 0%,
    rgba(17, 19, 31, 0.2) 100%
  );
  z-index: 2;
}
.gradient {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(17, 19, 31, 0.2) 0%,
    rgba(17, 19, 31, 0.2) 100%
  );
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .service-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .service-img-1 {
    width: 704px;
    height: 632px;
  }
  .service-img-2 {
    width: 400px;
    height: 389px;
  }
  .service-thumb-2 {
    position: relative;
    right: -43%;
    display: inline-block;
  }
  .service-img-3 {
    width: 380px;
    height: 352px;
  }
  .service-thumb-3 {
    position: relative;
    left: 32px;
    width: 436px;
  }
}

/* @media only screen and (min-width: 1280px) {
  .service-list {
    position: relative;
  }
  .service-img-1 {
    width: 712px;
  }
  .service-img-2 {
    width: 440px;
    height: 428px;
  }
  .service-thumb-2 {
    position: absolute;
    top: 39px;
    right: 48px;
  }
  .service-img-3 {
    width: 436px;
    height: 352px;
  }
  .service-thumb-3 {
    margin-top: 64px;
    position: relative;
    width: 436px;
    left: 294px;
    bottom: 166px;
    z-index: 2;
  }
} */

@media only screen and (min-width: 1280px) {
  .service-list {
    position: relative;
  }
  .service-img-1 {
    width: 712px;
  }
  .service-img-2 {
    width: 440px;
    height: 428px;
  }
  .service-thumb-2 {
    position: absolute;
    top: 204px;
    right: 0;
    margin-left: 64px;
  }
  .service-img-3 {
    width: 436px;
    height: 352px;
  }
  .service-thumb-3 {
    margin-top: 64px;
    position: relative;
    left: 340px;
  }
}
.service-subtitle {
  position: absolute;
  bottom: 24px;
  left: 24px;
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
  border-radius: 60px;
  background: var(--white);
  color: var(--dark_blue);
  padding: 14px 28px;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .service-subtitle {
    bottom: 32px;
    left: 32px;
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.services-blur-elipse {
  position: absolute;
  width: 323px;
  height: 323px;
  transform: rotate(-45deg);
  border-radius: 323px;
  opacity: 0.6;

  background: var(--elipse-background);
  filter: blur(100px);
  z-index: -1;
  top: -20px;
  right: 250px;
}

@media only screen and (min-width: 768px) {
  .services-blur-elipse {
    width: 414px;
    height: 414px;
    transform: rotate(-44deg);
    border-radius: 414px;
    left: -556px;
    top: -102px;
  }
}
@media only screen and (min-width: 1280px) {
  .services-blur-elipse {
    transform: rotate(-45deg);
    left: -1010px;
    top: 25px;
  }
}
